.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  width: 80%;
  border: 1px solid #AEAEAE;
  border-radius: 14px;

  padding: 32px;


  .search {
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;

      img {
        width: 30px;
        margin-right: 20px;
      }
    }

    &-input {
      width: 100%;
      margin-left: 20px;

      padding: 10px;

      outline: none;
    }
  }

  .datefilter-container {
    margin: 16px 0;
  }

  .list-container {
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          color: #838383;
          text-align: left;

          th {
            padding: 20px;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #ddd;
          color: #3d3d3d;

          td {
            padding: 20px;
          }
        }
      }
    }

    .pagination {
      &-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 32px 0 8px;
        color: #838383;

        font-size: 0.9rem;
      }

      &-controls {
        margin-left: 20px;

        .arrow-button {
          padding: 10px;
          margin: 0 10px;
          background-color: transparent;
          border: none;
          color: #838383;

          &:not(.disabled) {
            color: blue;
            cursor: pointer;
          }
        }

        .page-button {
          padding: 5px 12px;
          background-color: transparent;
          border: none;
          font-weight: bold;
          color: black;
          cursor: pointer;

          &.selected {
            color: blue;
            border: 1px solid blue;
            border-radius: 4px;
            cursor: auto;
          }
        }
      }
    }
  }
}